h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>li {
    list-style: none;
    height: auto;
    width: 130px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    border-radius: 30px;
    border: solid 1px gray;
}

.flex-container>li>img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.flex-container>li>b {
    font-size: 15px;
    display: block;
}